body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media(min-width: 1600px) {
  .container {
    max-width: 1580px;
  }
}

@media(max-width: 1220px) {
  .container {
    max-width: 1020px;
  }
}

.container-small {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

@media(min-width: 1600px) {
  .container-small {
    max-width: 1300px;
  }
}

.section-title {
  font-family: "Playfair Display", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-header-nav-column {
  display: flex;
  justify-content: center;
}

.main-header-nav-column:nth-child(2) {
  flex: 1 0 auto;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.menu-burger span {
  width: 100%;
  height: 4px;
  background-color: black;
}

.main-header-logo-wrapper {
  padding-top: 30px;
}

.main-header-logo .logo-mobile {
  display: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 490px;
  margin: 0 -65px 0 0;
  padding: 30px 0 25px;
  list-style: none;
}

@media(max-width: 1020px) {
  .site-navigation {
    /* padding: 15px 0 10px; */
  }
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 120px;
  margin: 0 0 0 0;
  padding: 35px 0 20px;
  list-style: none;
}

.menu-slider-wrapper {
  display: none;
}

.site-navigation-item {
  flex-grow: 1;
  margin: 0 55px 10px 0;
  /* flex: 1 1 calc((100% - 55px * 4) / 4 ); */
  /* width: calc((100% - 55px * 4) / 4 ); */
}

.user-navigation-item {
  margin: 0 0 10px 20px;
}

.user-navigation-item .link-item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.user-navigation-item .link-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center;
}

.user-navigation-item .icon-1::before {
  background-image: url('../img/search.svg');
}

.user-navigation-item .icon-2::before {
  background-image: url('../img/heart.svg');
}

.user-navigation-item .icon-3::before {
  background-image: url('../img/cart.svg');
}

.link-item {
  padding: 5px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1em;
  color: #555248;
  text-decoration: none;
}

@media(max-width: 760px) {
  .main-header-nav-column:nth-child(1) {
    flex: 1 0 auto;
    justify-content: flex-start;
  }

  .main-header-nav-column:nth-child(2) {
    /* display: none; */
    /* border: 1px solid red; */
  }

  .main-header-nav-column:nth-child(3) {
    /* flex: 0 1 auto; */
    /* justify-content: flex-end; */
  }

  .main-header-logo-wrapper {
    padding-top: 12px;
  }

  .main-header-logo .logo {
    display: none;
  }

  .main-header-logo .logo-mobile {
    display: block;
  }

  .menu-slider-wrapper {
    display: block;
    margin-top: -2px;
  }

  .site-navigation {
    display: none;
  }

  .user-navigation {
    width: 220px;
    padding: 20px 0 10px;
  }

  .user-navigation-item {
    margin-left: 24px;
  }

  .user-navigation-item .link-item {
    width: 26px;
    height: 26px;
  }

  .user-navigation-item .link-item::before {
    background-size: contain;
  }

  .user-navigation {
    width: 220px;
  }
}

@media(max-width: 375px) {
  .user-navigation .user-navigation-item:nth-child(2) {
    display: none;
  }

  .user-navigation {
    width: 160px;
  }
}


.promo {
  padding-bottom: 10px;
}

.promo-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: hidden;
}

.promo-text-column {
  display: flex;
  align-items: center;
  flex: 0 1 38%;
}

.promo-img-column {
  display: flex;
  flex-direction: column;
  flex: 0 1 62%;
}

@media(max-width: 1020px) {
  .promo-text-column {
    flex: 0 1 100%;
    margin-bottom: 30px;
  }

  .promo-img-column {
    flex: 0 1 100%;
  }
}

.promo-text-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 0 0 85px;
  flex: 1 0 100%;
}

.promo-img-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media(max-width: 1020px) {
  .promo-text-item {
    padding-left: 65px;
  }

  .promo-img-item {

  }
}

@media(max-width: 780px) {
  .promo-text-item  {
    padding: 0;
  }
}

.promo-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -30px 0 35px 0;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.45em;
  color: #1B1A17;
}

@media(max-width: 1020px) {
  .promo-title {
    margin: 20px 0 20px 0;
    flex-direction: row;
    align-items: flex-end;
  }
}

@media(max-width: 780px) {
  .promo-title {
    flex-direction: column;
    align-items: flex-start;
  }
}

.promo-title .title-big {
  position: relative;
  order: -1;
  margin: 0 0 10px -65px;
  padding-left: 65px;
  font-size: 45px;
  line-height: 1em;
}

.promo-title .title-big::before {
  content: '';
  position: absolute;
  top: 55%;
  left: 0;
  width: 50px;
  height: 1px;
  background: #8B8371 no-repeat;
}

@media(max-width: 1020px) {
  .promo-title .title-small{
    margin-left: auto;
    font-size: 20px;
  }
}

@media(max-width: 780px) {
  .promo-title .title-big {
    margin-right: 0;
  }

  .promo-title .title-small {
    margin-left: 0;
    font-size: 26px;
  }

  .promo-title .title-big::before {
    display: none;
  }
}

.promo-text {
  width: 70%;
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 1.6em;
}

@media(max-width: 1020px) {
  .promo-text {
    margin-bottom: 0;
    width: auto;
  }
}

.promo-text-item .dark-button {
  align-self: flex-start;
}

.promo-img-item .dark-button-hidden {
  display: none;
  align-self: center;
  justify-content: center;
  width: 70%;
  min-width: 250px;
}

@media(max-width: 1020px) {
  .promo-text-item .dark-button {
    display: none;
  }

  .promo-img-item .dark-button-hidden {
    display: flex
  }
}

.promo-price {
   position: absolute;
   /* top: 140px; */
   top: 16%;
   /* left: 50px; */
   left: 6%;
   /* margin-left: 100px; */
   /* background: url("../img/ruble.svg") no-repeat 50% 40%; */
}

.promo-price::after {
  content: '';
  position: absolute;
  top: 45%;
  right: -70px;
  width: 50px;
  height: 1px;
  background: #8B8371 no-repeat;
}


.promo-description {
  position: absolute;
  /* right: 20px; */
  right: 2%;
  /* bottom: 140px; */
  bottom: 19%;
  align-self: flex-end;
}


.promo-description::before {
  content: '';
  position: absolute;
  top: 45%;
  left: -70px;
  width: 50px;
  height: 1px;
  background: #8B8371 no-repeat;
}

.promo-price,
.promo-description {
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
  font-family: "Prata", "Arial", sans-serif;
  line-height: 1.4em;
  color: #1B1A17;
}

@media(min-width: 1200px) {
  .promo-price::after,
  .promo-description::before {
    font-size: 16px;
  }
}

@media(max-width: 1020px) {
  .promo-price {
    left: 10%;
  }

  .promo-description {
    right: 8%;
  }
}

@media(max-width: 780px) {
  .promo-price::after,
  .promo-description::before {
    display: none;
  }

  .promo-description {
    bottom: 30%;
  }

  .promo-price,
  .promo-description {
    /* font-size: 14px; */
  }
}

.promo-img-wrap {
  position: relative;
  align-self: center;
  padding: 0 0 110% 100%;
}

.promo-img-wrap::after {
  content: '';
  position: absolute;
  top: -6%;
  left: -10%;
  width: 100%;
  height: 100%;
  background: url('../img/ellipse.png') no-repeat 0/contain;
  z-index: -1;
}

.promo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin-top: -20px;
}

@media(max-width: 1020px) {
  .promo-img-wrap {
    padding: 0 0 80% 80%;
    margin-bottom: 20px;
  }

  .promo-img-wrap::after {
    /* display: none; */
    top: 2.5%;
    left: -10%;
    width: 100%;
    height: 94%;
    background: url('../img/ellipse.png') no-repeat 0/contain;
  }

  .promo-img {
    margin-top: 0;
  }
}


.bestsellers {
  padding: 10px 0 45px;
}

@media(max-width: 1020px) {
  .bestsellers {
    padding: 45px 0 30px;
  }
}

@media(max-width: 720px) {
  .bestsellers {
    padding: 40px 0 30px;
  }
}

.bestsellers-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  /* border: 1px solid red; */
}

@media(max-width: 1020px) {
  .bestsellers-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media(max-width: 720px) {
  .bestsellers-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.bestsellers-header .section-title {
  align-self: center;
  line-height: 34px;
}

@media(max-width: 720px) {
  .bestsellers-header .section-title {
    align-self: flex-start;
    margin-bottom: 20px;
  }
}

.show-more {
  align-self: flex-end;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  text-decoration: none;
  border-bottom: 1px solid #C4C0B6;
}

@media(max-width: 720px) {
  .show-more {
    align-self: flex-start;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  /* margin: -15px; */
  margin: calc(-7.5px + (-15 - -7.5) * ((100vw - 320px) / (1200 - 320)));
  padding: 0;
  list-style: none;
}

@media(min-width: 1200px) {
  .catalog-list {
    margin: -15px;
  }
}

.catalog-item {
  /* width: 370px; */
  /* width: calc((100% - 30px * 2) / 3); */
  flex: 0 1 33.333%;
  /* padding: 15px; */
  padding: calc(7.5px + (15 - 7.5) * ((100vw - 320px) / (1200 - 320)));
  /* border: 1px solid red; */
}

@media(min-width: 1200px) {
  .catalog-item {
    padding: 15px;
  }
}

@media(max-width: 1020px) {
  .catalog-item {
    flex: 0 1 50%;
  }
}

@media(max-width: 720px) {
  .catalog-item {
    flex: 0 1 100%;
  }
}

.catalog-item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 38px;
  padding-bottom: 40px;
  background-color: #FDFDFB;
  /* background-color: grey; */
  /* border: 1px solid blue; */
}

.img-circle-wrapper {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 313px; */
  /* height: 313px; */
  padding: 0 0 84% 84%;
  /* height: auto; */
  margin-bottom: 20px;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}

.catalog-item-img {
  position: absolute;
  top: -2%;
  left: -2%;
  width: 106%;
  height: 106%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.img-circle-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image:
  linear-gradient(#FDFDFB, #FDFDFB),
  linear-gradient(to left, #E2D0C4, rgba(226, 208, 196, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;
}


.catalog-item-title {
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #1B1A17;
  text-transform: uppercase;
}

.catalog-item-price {
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 14px;
  font-family: "Prata", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #1B1A17;
  background: url("../img/ruble.svg") no-repeat 100% 30%/8px 12px;
}

.link-details {
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  text-decoration: none;
}

.link-details-decor {
  position: relative;
  padding-left: 50px;
}

.link-details-decor::before {
  content: '';
  position: absolute;
  top: 55%;
  left: 0;
  width: 30px;
  height: 1px;
  background: #8B8371 no-repeat;
}

.link-details::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}



.banner {
  position: relative;
  margin: 40px 0 40px;
  overflow: hidden;
}

@media(max-width: 1020px) {
  .banner {
    margin: 30px 0 30px;
  }
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FDFDFB no-repeat;
  z-index: -3;
}

.banner-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.banner-wrapper::before {
  content: "";
  position: absolute;
  right: -625px;
  bottom: -250px;
  /* width: 745px; */
  /* height: 745px; */
  width: 46.6em;
  height: 46.6em;
  border: 1px solid #D4B098;
  border-radius: 50%;
  background: transparent;
  z-index: -2;
}

.banner-wrapper::after {
  content: "";
  position: absolute;
  top: -150px;
  right: -250px;
  /* width: 365px; */
  /* height: 365px; */
  width: 22.8em;
  height: 22.8em;
  border: 1px solid #D4B098;
  border-radius: 50%;
  background: transparent;
  z-index: -2;
}


@media(max-width: 1220px) {
  .banner-wrapper::before {
    right: -685px;
    bottom: -290px;
  }

  .banner-wrapper::after {
    top: -190px;
    right: -310px;
  }
}

@media(max-width: 1020px) {
  .banner-wrapper::after,
  .banner-wrapper::before {
    display: none;
  }
}

.banner-image-column {
  position: relative;
  flex: 0 1 51.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border: 1px solid red; */
}

@media(max-width: 1020px) {
  .banner-image-column {
    flex: 0 0 100%;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.banner-image-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: -938%;
  width: 1000%;
  height: 100%;
  background: #F7F5EF no-repeat;
  z-index: -2;
}

@media(max-width: 1020px) {
  .banner-image-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 155%;
  height: 100%;
  background: #F7F5EF no-repeat;
  z-index: -1;
  }
}

/* .banner {
  position: relative;
  margin-bottom: 40px;
  padding-top: 55px;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat;
  background-image: linear-gradient(to right, #F7F5EF 36%, #FDFDFB 36%);

  z-index: -1;

}

@media(max-width: 1020px) {
  .banner::before {
    display: none;
  }
}

.banner-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid black;
}

.banner-image-column {
  position: relative;
  flex: 0 1 51.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 600px;
  padding-bottom: 20px;
  border: 1px solid red;
}

 @media(max-width: 1020px) {
  .banner-image-column::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -100%;
  width: 155%;
  height: 111%;
  background: #F7F5EF no-repeat;
  z-index: -1;
  }
}

@media(max-width: 600px) {
  .banner-image-column::before {
  content: "";
  position: absolute;
  top: -12%;
  left: -100%;
  width: 155%;
  height: 111%;
  background: #F7F5EF no-repeat;
  z-index: -1;
  }
}

@media(max-width: 1020px) {
  .banner-image-column {
    flex: 0 0 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  @media(max-width: 720px) {
    .banner-image-column {

    }
  }
} */

.banner-img-wrap {
  position: relative;
  padding: 0 0 69% 87%;
  overflow: hidden;
}

@media(max-width: 1020px) {
  .banner-img-wrap {
    padding: 0 0 75% 100%;
  }
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-button {
  position: absolute;
  right: 14%;
  bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 1020px) {
  .gallery-button {
    right: 17%;
    bottom: 9px;
  }
}

@media(max-width: 720px) {
  .gallery-button {
    right: 15%;
  }
}

@media(max-width: 450px) {
  .gallery-button {
    right: 10%;
  }
}

.banner .button {
  appearance: none;
  border-radius: 0;
  background: transparent;

  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

@media(max-width: 1020px) {
  .banner .button {
    width: 10px;
    height: 10px;
  }
}

.button-next {
  transform: rotate(-45deg);
}

.button-previous {
  transform: rotate(135deg);
}

.sequence-number {
  margin-left: 17px;
  margin-right: 17px;
  font-family: "Prata", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #1B1A17;
}

@media(max-width: 1020px) {
  .sequence-number {
    font-size: 14px;
  }
}

.banner-text-column {
  flex: 0 1 48.7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
}

@media(max-width: 1220px) {
  .banner-text-column {
    justify-content: center;
  }
}

@media(max-width: 1020px) {
  .banner-text-column {
    flex: 1 1 100%;
    order: -1;
    margin-bottom: 50px;
    padding-left: 0;
  }
}

@media(max-width: 720px) {
  .banner-text-column {
    flex: 1 1 100%;
    order: -1;
    margin-bottom: 40px;
    padding-left: 0;
  }
}

@media(max-width: 1020px) {
  .banner-text-column::before {
    content: "";
    position: absolute;
    right: -390px;
    top: -160px;
    width: 26.6em;
    height: 26.6em;
    border: 1px solid #D4B098;
    border-radius: 50%;
    background: transparent;
    z-index: -1;
  }

  .banner-text-column::after {
    content: "";
    position: absolute;
    top: -120px;
    right: -120px;
    /* width: 365px; */
    /* height: 365px; */
    width: 12.8em;
    height: 12.8em;
    border: 1px solid #D4B098;
    border-radius: 50%;
    background: transparent;
    z-index: -1;
  }
}

@media(max-width: 720px) {
  .banner-text-column::after,
  .banner-text-column::before {
    display: none;
  }
}

@media(max-width: 720px) {
  .banner-text-column {
    padding-left: 0;
  }
}

.banner .section-title {
  margin-top: 140px;
  margin-bottom: 25px;
}

@media(max-width: 1220px) {
  .banner .section-title {
    margin-top: 0;
  }
}

@media(max-width: 1020px) {
  .banner .section-title {
  }
}

.banner-promo-text {
  width: 80%;
  margin-bottom: 35px;
}

@media(max-width: 720px) {
  .banner-promo-text {
    width: auto;
  }
}



.news {
  padding: 40px 0 45px;
}

@media(max-width: 1020px) {
  .news {
    padding: 30px 0 30px;
  }
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.news-text-column {
  flex: 0 1 46.2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media(max-width: 1220px) {
  .news-text-column {
    justify-content: center;
  }
}

@media(max-width: 1020px) {
  .news-text-column {
    flex: 0 0 100%;
    justify-content: center;
  }
}

.news-wrapper .section-title {
  width: 90%;
  margin-top: 140px;
  margin-bottom: 30px;
}

@media(max-width: 1220px) {
  .news-wrapper .section-title {
    margin-top: 0;
  }
}

@media(max-width: 720px) {
  .news-wrapper .section-title {
    width: auto;
  }
}

.news-text {
  width: 70%;
  margin-bottom: 110px;
}

@media(max-width: 1220px) {
  .news-text {
    margin-bottom: 50px;
  }
}

@media(max-width: 1020px) {
  .news-text {
    width: 90%;
    margin-bottom: 40px;
  }
}

@media(max-width: 720px) {
  .news-text {
    width: auto;
    margin-bottom: 30px;
  }
}

.news-text span {
  font-weight: bold;
  color: #262421;
}

.social {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 18px;
}

@media(max-width: 1020px) {
  .social-item {
    margin-right: 24px;
    margin-bottom: 40px;
  }
}

.social-item-link {
  color: #444240;
  text-decoration: none;
}


.news-images-column {
  flex: 0 1 53.8%;
  display: flex;
  flex-flow: wrap;
  /* min-height: 460px; */
}

@media(max-width: 1020px) {
  .news-images-column {
    flex: 1 1 100%;
  }
}

@media(max-width: 720px) {
  .news-images-column {
  }
}

.news-images-col-1 {
  flex: 2;
  display: flex;
  flex-flow: wrap;
}

@media(max-width: 720px) {
  .news-images-col-1 {
    flex: 1 1 100%;
  }
}

.news-images-col-2 {
  flex: 3;
  display: flex;
}

@media(max-width: 720px) {
  .news-images-col-2 {
    flex: 1 1 100%;
  }
}

.news-images-item {
  position: relative;
  padding: 0 0 90% 0;
  flex: 1 1 100%;
}

@media(max-width: 1020px) {
  .news-images-item {
    padding: 0 0 80% 0;
  }
}

.news-images-item-small-1 {
  margin-bottom: 10px;
  margin-right: 10px;
}

@media(max-width: 1020px) {
  .news-images-item-small-1 {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

@media(max-width: 720px) {
  .news-images-item-small-1 {
    margin-right: 0;
  }
}

.news-images-item-small-2 {
  margin-right: 10px;
}

@media(max-width: 1020px) {
  .news-images-item-small-2 {
    margin-right: 5px;
  }
}

@media(max-width: 720px) {
  .news-images-item-small-2 {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* .news-images-column {
  flex: 0 1 53.8%;
  display: flex;
  flex-flow: column wrap;
  min-height: 460px;
  border: 1px solid black;
}

@media(max-width: 1020px) {
  .news-images-column {
    flex: 0 0 100%;
  }
}

@media(max-width: 720px) {
  .news-images-column {

  }
}

.news-images-item {
  position: relative;
  display: flex;
  width: 38.5%;
  height: 49%;
  overflow: hidden;
  border: 1px solid red;
}

@media(max-width: 720px) {
  .news-images-item {

  }
}

@media(max-width: 400px) {
  .news-images-item {

  }
}

.news-images-item:nth-child(1) {
  margin-bottom: 10px;
  height: calc(51% - 10px);
}

@media(max-width: 720px) {
  .news-images-item:nth-child(1) {

  }
}

@media(max-width: 400px) {
  .news-images-item:nth-child(1) {

  }
}

.news-images-item-b {
  height: 100%;
  margin-left: 10px;
  width: calc(61.5% - 10px);
}

@media(max-width: 720px) {
  .news-images-item-b {

  }
}

@media(max-width: 400px) {
  .news-images-item-b {

  }
} */

.news-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.main-footer {
  margin-top: 45px;
  padding: 65px 0 65px;
  background: #444240;
}

@media(max-width: 1020px) {
  .main-footer {
    margin-top: 30px;
    padding: 50px 0 50px;
  }
}

@media(max-width: 720px) {
  .main-footer {
    padding: 40px 0 40px;
  }
}

.main-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-footer-column {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 245px; */
  /* margin-left: 85px; */
  /* margin-right: 35px; */
  margin-bottom: 30px;
}

@media(max-width: 720px) {
  .main-footer-column {
    flex: 2;
  }
}

@media(max-width: 540px) {
  .main-footer-column {
    flex: 1;
  }
}

@media(max-width: 425px) {
  .main-footer-column {
    flex: 1 1 100%;
  }
}

.main-footer-logo {
  position: relative;
  margin-bottom: 15px;
}

.main-footer-logo-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-footer-column .tel,
.main-footer-column .email {
  font-size: 12px;
  line-height: 1.1em;
  color: #FFFFFF;
  text-decoration: none;
}

@media(max-width: 1020px) {
  .main-footer-column .tel,
  .main-footer-column .email {
    font-size: 13px;
  }
}

.main-footer-column .tel {
  margin-bottom: 15px;
}

@media(max-width: 1020px) {
  .main-footer-column .tel {
    margin-bottom: 19px;
  }
}

.links {
  flex: 2 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

@media(max-width: 1020px) {
  .links {
    padding-right: 0;
  }
}

@media(max-width: 720px) {
  .links {
    flex: 3;
  }
}

@media(max-width: 540px) {
  .links {
    flex: 1;
  }
}

@media(max-width: 425px) {
  .links {
    flex: 1 1 100%;
  }
}

.links div {
  display: flex;
  flex-direction: column;
  /* width: 240px; */
}

@media(max-width: 720px) {
  .links div {
    margin-bottom: 25px;
    margin-right: 15px;
  }

  .links div:last-child {
    margin-bottom: 0;
  }
}

.links dt {
  margin-bottom: 10px;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-transform: uppercase;
  vertical-align: bottom;
}

.links dd {
  margin: 0;
  padding: 0;
}

.link-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links li {

}

@media(max-width: 1020px) {
  .links li {
    padding-bottom: 4px;
  }
}

.main-footer-link {
  font-size: 12px;
  line-height: 1.1em;
  color: #FFFFFF;
  text-decoration: none;
}

@media(max-width: 1020px) {
.main-footer-link {
    font-size: 13px;
  }
}

.dark-button {
  display: inline-block;
  padding: 27px 38px 25px 38px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #444240;
}

.light-button {
  display: inline-block;
  padding: 27px 38px 25px 38px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #D4B098;
}
